#!/bin/bash

export GHCR_USERNAME="lukeshay"
export GHCR_PASSWORD="$GITHUB_TOKEN"
export DD_AGENT_HOST="ls-datadog-agent.internal"
export DATADOG_CLIENT_TOKEN="pubd3c5eb1227f7423b64b6b76beadd8231"
export DATABASE_URL="$(turso db show ls-records-local --url)"
export DATABASE_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MDkwNzM2NjksImlkIjoiMjE2YWIzNTEtZDVjMS0xMWVlLWE5ZmMtZmFjNjg0YWUwMTkyIn0.1K-hzvnI_FYZYCaFiJ8l3XXp-d_PYkc24lcqwiQfgh2j-KvkjcQhzhs5B11TPlPsA5HWnO97WJcuBZshwbowAw"
export COOKIE_KEY="fOnQx0XMJlrImKKgUUjjLyNncJyx2WAPFAnltkihyl4="
export DAGGER_CLOUD_TOKEN="da702622-7207-4a35-af9b-6b546564fd91"
